* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: antiquewhite;
}

h1 {
  color: blueviolet;
}

div {
  text-align: center;
  color: chocolate;
}

p {
  margin-top: 2%;
  background-color: darkcyan;
  color: aliceblue;
}
